# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/

# uploads & generated
uploads/
*.pdf
*.log
*.docx


# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# secrets
.env